@model FileLibraryItem

@{
	var fileNameNoExtension = Path.GetFileNameWithoutExtension(Model.Name);
	string Librarythumbnailpath = ConfigurationManager.AppSettings["LibraryRootPath"] + "Thumbnails/";	
	var thumbnailPath = Url.Content(Librarythumbnailpath + fileNameNoExtension + "_thumb.bmp?width=140&height=140&mode=crop");

}
<div class="col-md-2 col-sm-3 col-xs-4 library-entry document">
	<div class="thumbnail">
		@if (System.IO.File.Exists(Request.MapPath(Librarythumbnailpath + fileNameNoExtension + "_thumb.bmp"))) // Make sure the generated thumbnail exists or fallback to a generic one.
		{
			<img src="@thumbnailPath" class="img-responsive" alt="@Model.Name" data-toggle="tooltip" data-placement="top" title="@Model.Name" />
		}
		else
		{
			string src = "~/Images/unknownicon.png";
			switch (Model.FileType)
			{
				case "application/msword":
				case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
					src = "~/Images/wordicon.png";
					break;
				case "application/excel":
				case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
					src = "~/Images/excelicon.png";
					break;
				case "application/xml":
					src = "~/Images/xmlicon.png";
					break;
				case "application/pdf":
					src = "~/Images/pdficon.png";
					break;
				case "audio/mpeg3":
					src = "~/Images/mp3icon.png";
					break;
			}
			<img src="@Url.Content(src)" class="img-responsive" alt="@Model.Name" data-toggle="tooltip" data-placement="top" title="@Model.Name" />
		}

		<div class="caption">
			<p class="hidden">@Model.Name</p>
			<p class="hidden">@Model.Size</p>
			<p class="hidden">@Model.DateAdded</p>
			<p class="hidden">@String.Format("{0:f}", Model.DateAdded).ToString().ToLower()</p>
			<p class="hidden">@Model.FileType</p>
			<a class="btn btn-default btn-sm" href="@Url.Content(Model.Path)" download="@Model.Name" title="@Model.Name"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></a>
			<button class="btn btn-default btn-sm deleteFileModal" type="button" data-toggle="modal" data-isfolder="false" data-name="@Model.Name" data-path="@Model.Path" data-target="#deleteConfirmation"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
		</div>
	</div>
</div>